[Unit]
Description=Run SmartSharing demo-accept on a schedule

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
RandomizedDelaySec=10
AccuracySec=15s

[Install]
WantedBy=timers.target
